*{
    font-family: 'Montserrat', sans-serif;
}
.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
}

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
}

main{
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

form label{
    font-weight: 600;
}

form input{
    border: 1px solid #ccc;
    display: block;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-weight: 600;
    background: none;
}

form button{
    border: none;
    width: 152px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ae3c33;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 20px;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
}

.cardContainer i{
    font-size: 20px;
}
.editIcon{
    color: blue;
}
.deleteIcon{
    color: #ae3c33;
}
